.evolution-chain {
  margin-top: 16px;
  display: flex;

  .evolution-unit {
    display: flex;
    align-items: center;
    .evolution-info {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      img {
        background: #fafafa;
        width: 96px;
        height: 96px;
        border-radius: 50%;
      }

      @media screen and (max-width: 767px) {
        img {
          width: 84px;
          height: 84px;
        }
      }

      &__id {
        font-size: 10px;
        color: #999;
      }
    }
  }

  .current {
    img {
      border: 1px solid #b48ead;
    }
  }

  .evolution-unit:hover {
    cursor: pointer;
  }
}