<div class="evolution-chain"
     *ngIf="evolutionChain.length > 0">
  <span class="evolution-unit"
        [class.current]="evolution.id == currentPokemonId"
        *ngFor="let evolution of evolutionChain; let last = last"
        (click)="onPokemonClick(evolution.id)">
    <div class="evolution-info">
      <img [src]="evolution.image"
      alt="{{ evolution.name }}"
      width="50"
      height="50" />
      <span class="evolution-info__id">#{{ evolution.id }}</span>
      {{ evolution.name | titlecase }}
    </div>

    <span *ngIf="!last"> → </span>
  </span>
</div>