<div #scrollContainer
     class="pokedex-container"
     (scroll)="onWindowScroll()">
  <div class="pokemon-grid">
    <app-pokemon-card *ngFor="let pokemon of pokemons()"
                      [pokemon]="pokemon"
                      (click)="togglePopup(pokemon)"></app-pokemon-card>
  </div>
</div>

<app-pokemon-popup *ngIf="showPopup"
                           [selectedPokemon]="selectedPokemon"
                           (closePopup)="togglePopup(null)"></app-pokemon-popup>

<div *ngIf="isLoading()"
     class="loading">
  Đang tải Pokémon......
</div>