<div class="pokemon-card" [routerLink]="'/pokedex/' + pokemon.data.id" routerLinkActive="router-link-active">
  <div class="pokemon-image">
    <img loading="lazy"
         [src]="pokemon.data.sprites?.front_default"
         alt="?" />
  </div>
  <div class="pokemon-info">
    <span class="pokemon-id">#{{ pokemon.data.id }}</span>
    <span class="pokemon-name">{{ pokemon.name | titlecase }}</span>

    <div class="pokemon-types"
         *ngIf="pokemon.data">
      <span *ngFor="let type of pokemon.data.types"
            class="type {{ type.type.name }}">
        {{ type.type.name | titlecase }}
      </span>
    </div>
  </div>
</div>