@import 'type';
@import 'variables';

.pokemon-card {
  position: relative;
  background: $white;
  color: #333;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  @media (max-width: 1023px) {
    padding: 8px;
  }

  @media (max-width: 768px) {
    padding: 4px;
  }

  &:hover {
    cursor: pointer;
    // transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: $light-white;
  }

  .pokemon-image {
    width: 96px;
    height: 96px;
    background: #fafafa;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    img {
      width: 96px;
      height: 96px;
      transition: transform 0.2s ease;
    }
  }

  .pokemon-info {
    width: 100%;
    font-weight: 500;
    margin-top: 16px;
    text-align: center;

    @media (max-width: 1023px) {
      margin-top: 8px;
    }

    .pokemon-id {
      position: absolute;
      top: 8px;
      left: 8px;
      font-size: 8px;
      color: #999;
    }

    .pokemon-name {
      font-size: 16px;
      color: #333;
      margin-top: 8px;
      font-weight: 500;

      display: inline-block;
      max-width: 100px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 1023px) {
        font-size: 12px;
      }
    }

    .pokemon-types {
      .type {
        @media (max-width: 1023px) {
          font-size: 10px;
        }
      }
    }
  }
}
