<!-- <span class="back" routerLink='/'routerLinkActive="router-link-active" > ← </span> -->

<div *ngIf="isLoading()"
     class="loading">
  <p>Đang tải Pokémon...</p> <!-- Hoặc có thể thay bằng biểu tượng loading -->
</div>

<div *ngIf="!isLoading()"
     class="pokemon-card">

  <span class="pokemon-id">#{{ pokemonId }}</span><span class="pokemon-name"> {{ pokemon().name | titlecase }}</span>

  <div class="pokemon-images">
    <div *ngIf="pokemon().sprites.front_default" class="normal-forms">
      <p>Normal</p>
      <img *ngIf="pokemon().sprites.front_default" [src]="pokemon().sprites.front_default" alt="{{ pokemon().name }} front normal" />
      <!-- <img *ngIf="pokemon().sprites.back_default" [src]="pokemon().sprites.back_default" alt="{{ pokemon().name }} back normal" /> -->
    </div>
  
    <div *ngIf="pokemon().sprites.front_shiny" class="shiny-forms">
      <p>Shiny</p>
      <img *ngIf="pokemon().sprites.front_shiny" [src]="pokemon().sprites.front_shiny" alt="{{ pokemon().name }} front shiny" />
      <!-- <img *ngIf="pokemon().sprites.back_shiny" [src]="pokemon().sprites.back_shiny" alt="{{ pokemon().name }} back shiny" /> -->
    </div>
  </div>

  <div class="pokemon-types"
       *ngIf="pokemon().types">
    <span *ngFor="let type of pokemon().types"
          class="type {{ type.type.name }}">
      {{ type.type.name | titlecase }}
    </span>
  </div>

  <div class="pokemon-bmi">
    <div class="pokemon-bmi-item">
      <span class="label">Height:</span>
      <span class="value">{{ pokemon().height / 10 | number: '1.2-2' }} m</span>
    </div>
    <div class="pokemon-bmi-item">
      <span class="label">Weight:</span>
      <span class="value">{{ pokemon().weight / 10 | number: '1.2-2' }} kg</span>
    </div>
  </div>

  <div class="pokemon-stats">
    <div *ngFor="let stat of pokemon().stats">
      <span class="stat-value">{{ stat.base_stat }}</span>
      <span class="stat-name">{{ stat.stat.name }}</span>
    </div>
  </div>
  <span class="total-stats">
    <span class="total-name" >Total Base Stat:</span>
    <span class="total-value">{{ getTotalBaseStat() }}</span>
  </span>

  <!-- Chuỗi tiến hóa -->
  <!-- <div class="evolution-chain"
       *ngIf="evolutionChain.length > 0">
    <span *ngFor="let evolution of evolutionChain; let last = last"[routerLink]="'/pokemon/' + evolution.name" routerLinkActive="router-link-active">
      {{ evolution.name | titlecase }}
      <span *ngIf="!last"> → </span>
    </span>
  </div> -->
  <app-pokemon-evolution-chain [currentPokemonId]="pokemonId"
                               [evolutionChain]="evolutionChain()"
                               (pokemonSelected)="onPokemonSelected($event)"></app-pokemon-evolution-chain>
</div>