.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 1.2em;
  color: #555;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  max-width: 480px;
  position: relative;
  
  @media (min-width: 1024px) {
    padding: 16px;
    margin: 0 auto;
  }

  .pokemon-image {
    position: relative;
    border-radius: 50%;

    img {
      width: 96px;
      height: 96px;
    }
  }

  .pokemon-id {
    font-size: 12px;
    color: #999;
  }

  .pokemon-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 16px;
  }

  .pokemon-types {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 8px;

    @media (min-width: 1024px) {
      margin-top: 16px;
    }

    $type-colors: (
      "normal": #a8a77a,
      "fire": #e62829,
      "water": #6390f0,
      "electric": #fac000,
      "grass": #3fa129,
      "ice": #96d9d6,
      "fighting": #ff8000,
      "poison": #a33ea1,
      "ground": #e2bf65,
      "flying": #81b9ef,
      "psychic": #f95587,
      "bug": #91a119,
      "rock": #b6a136,
      "ghost": #704170,
      "dragon": #6f35fc,
      "dark": #624d4e,
      "steel": #b7b7ce,
      "fairy": #ef70ef,
    );

    .type {
      padding: 4px 8px;
      border-radius: 4px;
      display: inline-block;
      font-weight: 500;
      font-size: 0.8rem;
      text-transform: capitalize;
      color: #ffffff;

      @media (min-width: 1024px) {
        font-size: 0.9rem;
      }

      // Apply color based on type
      &.normal {
        background-color: map-get($type-colors, "normal");
      }
      &.fire {
        background-color: map-get($type-colors, "fire");
      }
      &.water {
        background-color: map-get($type-colors, "water");
      }
      &.electric {
        background-color: map-get($type-colors, "electric");
      }
      &.grass {
        background-color: map-get($type-colors, "grass");
      }
      &.ice {
        background-color: map-get($type-colors, "ice");
      }
      &.fighting {
        background-color: map-get($type-colors, "fighting");
      }
      &.poison {
        background-color: map-get($type-colors, "poison");
      }
      &.ground {
        background-color: map-get($type-colors, "ground");
      }
      &.flying {
        background-color: map-get($type-colors, "flying");
      }
      &.psychic {
        background-color: map-get($type-colors, "psychic");
      }
      &.bug {
        background-color: map-get($type-colors, "bug");
      }
      &.rock {
        background-color: map-get($type-colors, "rock");
      }
      &.ghost {
        background-color: map-get($type-colors, "ghost");
      }
      &.dragon {
        background-color: map-get($type-colors, "dragon");
      }
      &.dark {
        background-color: map-get($type-colors, "dark");
      }
      &.steel {
        background-color: map-get($type-colors, "steel");
      }
      &.fairy {
        background-color: map-get($type-colors, "fairy");
      }
    }
  }

  .pokemon-bmi {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    font-family: "Arial", sans-serif;
    width: 250px;
    font-size: 16px;
    gap: 8px;
  }

  .pokemon-bmi-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }

  .label {
    color: #999;
  }

  .value {
    font-weight: 500;
    color: #333;
    text-align: right;
  }

  .pokemon-stats {
    width: 100%;
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
    line-height: 1.5;

    .stat-value {
      display: block;
      font-weight: bold;
      font-size: 1.1rem;
      color: #333;
    }

    .stat-name {
      display: block;
      color: #999;
      text-transform: capitalize;
      font-size: 12px;
    }
  }

  .navigation-buttons {
    .navigation-prev {
      position: fixed;
      left: 8px;
      top: 172px;
    }

    .navigation-next {
      position: fixed;
      right: 8px;
      top: 172px;
    }

    @media (min-width: 1024px) {
      .navigation-prev {
        position: fixed;
        left: 40%;
        top: 192px
      }
  
      .navigation-next {
        position: fixed;
        right: 40%;
        top: 192px
      }
    }
  }
  
  button {
    background-color: #b48ead;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  button[disabled] {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
}
