<!-- <span class="back" routerLink='/'routerLinkActive="router-link-active" > ← </span> -->

<div *ngIf="isLoading"
     class="loading">
  <p>Loading...</p> <!-- Hoặc có thể thay bằng biểu tượng loading -->
</div>

<div *ngIf="!isLoading"
     class="pokemon-card">

  <span class="pokemon-id">#{{ pokemonId }}</span><span class="pokemon-name"> {{ pokemon.name | titlecase }}</span>

  <div class="pokemon-image">
    <img [src]="pokemon.sprites.front_default"
         alt="{{ pokemon.name }}" />

    <div class="navigation-buttons">
      <button class="navigation-prev"
              (click)="navigatePokemon('previous')"
              [disabled]="!previousId">←</button>
      <button class="navigation-next"
              (click)="navigatePokemon('next')"
              [disabled]="!nextId">→</button>
    </div>
  </div>

  <div class="pokemon-types"
       *ngIf="pokemon.types">
    <span *ngFor="let type of pokemon.types"
          class="type {{ type.type.name }}">
      {{ type.type.name | titlecase }}
    </span>
  </div>

  <div class="pokemon-bmi">
    <div class="pokemon-bmi-item">
      <span class="label">Height:</span>
      <span class="value">{{ pokemon.height / 10 | number: '1.2-2' }} m</span>
    </div>
    <div class="pokemon-bmi-item">
      <span class="label">Weight:</span>
      <span class="value">{{ pokemon.weight / 10 | number: '1.2-2' }} kg</span>
    </div>
  </div>

  <div class="pokemon-stats">
    <div *ngFor="let stat of pokemon.stats">
      <span class="stat-value">{{ stat.base_stat }}</span>
      <span class="stat-name">{{ stat.stat.name }}</span>
    </div>
  </div>

  <!-- Chuỗi tiến hóa -->
  <!-- <div class="evolution-chain"
       *ngIf="evolutionChain.length > 0">
    <span *ngFor="let evolution of evolutionChain; let last = last"[routerLink]="'/pokemon/' + evolution.name" routerLinkActive="router-link-active">
      {{ evolution.name | titlecase }}
      <span *ngIf="!last"> → </span>
    </span>
  </div> -->
  <app-pokemon-evolution-chain [evolutionChain]="evolutionChain"></app-pokemon-evolution-chain>
</div>