/* You can add global styles to this file, and also import other style files */
@import 'variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html {

}
body {
  font-family: sans-serif;
  color: $black;
  background: $dark-white;
  font-display: fallback;
}

img {
  height: auto;
  max-width: 100%;
}

/****************** thumbnail ******************/
::-webkit-scrollbar {
  display: block;
  background: transparent;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  display: block;
  visibility: hidden;
  background: $primary-color;
  border-radius: 4px;
}